#print{
    /*border: 0.5mm solid black;
    */
    display: none;
    width: 210mm;
    height: 297mm;
}

.label{
    border-right: 0.5mm dotted black;
    border-bottom: 0.5mm dotted black;
    width: 41.5mm;
    height: 49mm;
    float: left;
}

.lastLabel{
    border-bottom: 0.5mm dotted black;
    width: 42mm;
    height: 49mm;
    float: left;
}

.labelLastRow{
    border-right: 0.5mm dotted black;
    width: 41.5mm;
    height: 49.5mm;
    float: left;
}
